/* App.css */
.search-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

.form-control {
  height: 20px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  height: 40px;
  padding: 0 20px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-container {
  margin-top: 20px;
}

.list-group-item {
  display: block;
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.list-group-item h5 {
  margin: 0;
  font-size: 18px;
}

.list-group-item p {
  margin: 5px 0 0;
  font-size: 14px;
}

h5 mark {
  color: red;
  background: none;
}

.list-item-infos {
  display: flex;
  justify-content: space-between;
}

.list-item-infos span {
  flex: 1;
}

.form-input {
  flex-grow: 1;
}

.list-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 25px;
}

.list-pagination {
  text-align: center;
}

.list-pagination-button {
  all: unset;
  /* border: 1px solid #939393; */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: background-color 0.2s;
}

.list-pagination-button:hover {
  background-color: #d3d3d3;
}
